<div class="{{class-names}}">
  <div class="header__link-wrapper link-wrapper">
    {{> link-inner-common link="/{{i18n "about-us-link"}}.html" text="{{i18n "about-us-link-text"}}"}}
    <br />
    {{> link-inner-common link="/{{i18n "about-us-link"}}.html" text="{{i18n "about-us-link-text"}}"}}
  </div>
</div>