<div class="{{class-names}}" data-header-color="{{data-header-color}}">
  <a
    href="/{{i18n "about-us-link"}}.html"
    class="link link_color_white text text_color_white text_type_h2 text_transform_uppercase work-item__text-wrapper"
  >
    <div class="link-wrapper">
      <span class="text">{{i18n "agency-link-text"}}</span>
      <br />
      <span class="text">{{i18n "agency-link-text"}}</span>
    </div>
  </a>
  <img
    src="../../images/content/seal.svg"
    alt=""
    class="link-about__seal seal"
  />
</div>