<div class="{{class-names}}" data-header-color="{{data-header-color}}">
  <a
    href="{{i18n "links-html.projects-link"}}"
    class="link link_color_white text text_color_white text_type_h2 text_transform_uppercase"
  >
    <div class="link-wrapper">
      <span class="text">{{i18n "links-text.all-projects-link-text"}}</span>
      <br />
      <span class="text">{{i18n "links-text.all-projects-link-text"}}</span>
    </div>
  </a>
</div>