<div class="imgs">
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/07.jpg"
      alt="{{work-name}}"
    />
  </div>
</div>

{{> detail-imgs work-name="zeeves-site"}}

{{#each 6}}
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/{{@index}}.jpg"
      alt="{{work-name}}"
    />
  </div>
{{/each}}

<div class="imgs">
  {{#each numbers}}
    <div class="img-wrapper">
      <img
        src="../../images/content/works/{{work-name}}/detail-photos/0{{this}}.jpg"
        alt="{{work-name}}"
      />
    </div>
  {{/each}}
</div>

  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/07.jpg"
      alt="{{work-name}}"
    />
  </div>
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/06.jpg"
      alt="{{work-name}}"
    />
  </div>
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/05.jpg"
      alt="{{work-name}}"
    />
  </div>
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/04.jpg"
      alt="{{work-name}}"
    />
  </div>
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/03.jpg"
      alt="{{work-name}}"
    />
  </div>
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/02.jpg"
      alt="{{work-name}}"
    />
  </div>
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/01.jpg"
      alt="{{work-name}}"
    />
  </div>