<div class="imgs">
  {{#if countEqualSix}}{{else}}
    <div class="img-wrapper">
      <img
        src="../../images/content/works/{{work-name}}/detail-photos/07.jpg"
        alt="{{work-name}}"
      />
    </div>
  {{/if}}
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/06.jpg"
      alt="{{work-name}}"
    />
  </div>
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/05.jpg"
      alt="{{work-name}}"
    />
  </div>
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/04.jpg"
      alt="{{work-name}}"
    />
  </div>
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/03.jpg"
      alt="{{work-name}}"
    />
  </div>
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/02.jpg"
      alt="{{work-name}}"
    />
  </div>
  <div class="img-wrapper">
    <img
      src="../../images/content/works/{{work-name}}/detail-photos/01.jpg"
      alt="{{work-name}}"
    />
  </div>
</div>