<div class="{{class-names}}">
  <span class="preloader-wrapper">
    <span class="preloader-wrapper-inner preloader-appearance-step-1-0"
    >{{i18n "intro-main.intro-main-header-1"}}
    </span>
  </span>
  <br/>
  <span class="first-section__text-button">
    {{> intro-main-ru-desktop-title-site-svg}}
    <a
      href="/write-us.html?target=site"
      class="first-section__text-button-text text_color_black preloader-wrapper"
    >
        <span class="preloader-wrapper-inner preloader-appearance-step-1-1"
        >{{i18n "intro-main.intro-main-header-2"}}</span>
      </a>
  </span>
  <span class="preloader-wrapper">
    <span class="preloader-wrapper-inner preloader-appearance-step-1-1"
    >&nbsp;{{i18n "intro-main.intro-main-header-3"}}</span>
  </span>
  <span class="first-section__text-button">
    {{> intro-main-ru-desktop-title-apps-svg}}
    <a
      href="/write-us.html?target=app"
      class="first-section__text-button-text text_color_black"
    >
        <span class="preloader-wrapper">
          <span class="preloader-wrapper-inner preloader-appearance-step-1-1"
          >{{i18n "intro-main.intro-main-header-4"}}
          </span>
        </span>
        <br/>
        <span class="preloader-wrapper">
          <span class="preloader-wrapper-inner preloader-appearance-step-1-2"
          >{{i18n "intro-main.intro-main-header-5"}}
          </span>
        </span>
      </a>
  </span>
</div>
