<div class="header__link-wrapper link-wrapper">
  {{#if main-link}}
    <a
      href="{{i18n "links-switch-lng-html.main-link-switch"}}"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      {{i18n "links-text.language-switch-text"}}
    </a>
    <br />
    <a
      href="{{i18n "links-switch-lng-html.main-link-switch"}}"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      {{i18n "links-text.language-switch-text"}}
    </a>  
  {{/if}}
  {{#if projects-link}}
    <a
      href="{{i18n "links-switch-lng-htmlall-projects-link"}}"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      {{i18n "links-text.language-switch-text"}}
    </a>
    <br />
    <a
      href="{{i18n "links-switch-lng-html.all-projects-link"}}"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      {{i18n "links-text.language-switch-text"}}
    </a>  
  {{/if}}
  {{#if about-us-link}}
    <a
      href="{{i18n "links-switch-lng-html.about-us-link-switch"}}"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      {{i18n "links-text.language-switch-text"}}
    </a>
    <br />
    <a
      href="{{i18n "links-switch-lng-html.about-us-link-switch"}}"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      {{i18n "links-text.language-switch-text"}}
    </a>  
  {{/if}}
  {{#if write-us-link}}
    <a
      href="{{i18n "links-switch-lng-html.write-us-link-switch"}}"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      {{i18n "links-text.language-switch-text"}}
    </a>
    <br />
    <a
      href="{{i18n "links-switch-lng-html.write-us-link-switch"}}"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      {{i18n "links-text.language-switch-text"}}
    </a>  
  {{/if}}
</div>