

<a
  href=""
  class="footer__sub-links footer__sub-links_mobile half text_transform_uppercase hover_color_{{hover-color}}
    hover_transition_xs"
>
  <span class="text text_color_{{main-color}} text_type_h2">
    {{i18n "footer.footer-privacy-policy-1"}}
  </span>
  <br />
  <span class="text text_color_{{main-color}} text_type_h2">
    {{i18n "footer.footer-privacy-policy-2"}}
  </span>
</a>

<a
  href=""
  class="footer__sub-links footer__sub-links_mobile half text_transform_uppercase hover_opacity_m hover_transition_xs"
>
  <span class="text text_color_black text_type_h2">{{i18n
      "footer.footer-privacy-policy-1"
    }}</span>
  <br />
  <span class="text text_color_black text_type_h2">
    {{i18n "footer.footer-privacy-policy-2"}}
  </span>
</a>
{{! бургер меню верхнее }}

<a
  href=""
  class="footer__sub-links footer__sub-links_desktop half text_transform_uppercase hover_color_red hover_transition_xs"
>
  <span class="text text_color_black text_type_h2">{{i18n
      "footer.footer-privacy-policy-1"
    }}</span>
  <span class="text text_color_black text_type_h2">
    {{i18n "footer-privacy-policy-2"}}
  </span>
</a>

{{! для бургер меню нижнее}}