<section class="works-first-section" data-header-color="white">
  <div class="works-first-section__count-wrapper text_transform_uppercase">
    <div class="works-first-section__count text text_type_wow text_color_white">
      12
    </div>
    <div class="text text_type_h2 text_color_white">
      {{i18n "intro-all-projects.intro-projects-header-str-1"}}
      <br />
      {{i18n "intro-all-projects.intro-projects-header-str-2"}}
      <br />
    </div>
  </div>
  <div class="works-first-section__buttons">
    <button
      class="works-first-section__button button button_type_sub
             button_color_white button_active text_type_common
             text_color_white hover_transition_xs"
      data-button-filter="*"
    >
      {{i18n "intro-all-projects.intro-projects-switch-all"}}
    </button>
    <button
      class="works-first-section__button button button_type_sub
             button_color_white text_type_common text_color_white
             hover_transition_xs"
      data-button-filter="websites"
    >
      {{i18n "intro-all-projects.intro-projects-switch-sites"}}
    </button>
    <button
      class="works-first-section__button button button_type_sub
             button_color_white text_type_common text_color_white
             hover_transition_xs"
      data-button-filter="apps"
    >
      {{i18n "intro-all-projects.intro-projects-switch-apps"}}
    </button>
    <button
      class="works-first-section__button button button_type_sub
             button_color_white text_type_common text_color_white
             hover_transition_xs"
      data-button-filter="branding"
    >
      {{i18n "intro-all-projects.intro-projects-switch-branding"}}
    </button>
    <button
      class="works-first-section__button button button_type_sub
             button_color_white text_type_common text_color_white
             hover_transition_xs"
      {{!-- data-button-filter="advertising" --}}
    >
      {{i18n "intro-all-projects.intro-projects-switch-advertising"}}
    </button>
  </div>
</section>